.article {
	border-bottom-color: rgb(236, 238, 239);
	border-bottom-style: solid;
	border-bottom-width: 1px; 
}

.article img, .article p, .article h2, .article h6 {
	max-width: 100%;
	height: auto;
	margin: 0 0 5px 0;
}

td.squareone {
	border-left: 25px solid white;
}

.squareone h4 {
	width: 90%;
	font-size: 15px;
}

.squareone img {
	height: 120px;
	width: 200px;
}

h1,h2, h3, h4, h5, h6 {
	font-family: 'Bitter', serif;
	color: #191F24;
}

h6 {
color: #BE0E0E;
}

p {
	font-family: 'Roboto', sans-serif;
}

a:hover {
	text-decoration: none;
}

h2:hover, h4:hover {
	color: #BE0E0E;
}

#listed img {
	min-width: 150px;
	max-width: 150px;
	height: auto;
	margin-right: 20px;
}

#listed td {
	padding: 20px 0px 20px 0px;
}

#listed tr {
	border-bottom-color: rgb(236, 238, 239);
	border-bottom-style: solid;
	border-bottom-width: 1px; 
}

table#listed {
	border-top-color: rgb(236, 238, 239);
	border-top-style: solid;
	border-top-width: 1px;
}

#headline-detail {
	margin-bottom: 20px;
	border-bottom-color: rgb(236, 238, 239);
	border-bottom-style: solid;
	border-bottom-width: 1px; 
}
